@import "./tailwind.css";

@font-face {
  font-family: "Galano Grotesque";
  src: url(./assets/GalanoGrotesqueHeavy.otf) format("opentype");
  font-weight: bold;
  font-style: normal;
}

html {
  @apply font-sans text-base;
}

body,
#root {
  height: 100dvh;
  height: 100vh;
  width: 100dvw;
  width: 100vw;
}

body {
  --pender-primary: #fd54a6;
  background-color: var(--pender-primary);
}
